<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>
      Inventory
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inventory</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <div *ngFor="let item of inventory">
      <!-- <ion-grid> -->
      <ion-item>
        <!-- <ion-row class="ion-justify-content-between"> -->
          <!-- <ion-col> -->

            <ion-avatar slot="start">
              <img src="{{item.strImage}}">
            </ion-avatar>
            <ion-label>
              <h2>{{item.strDescription}}</h2>
              <!-- <h3>On hand: {{item.intQuantity}}</h3> -->
            </ion-label>
          <!-- </ion-col>
          <ion-col class="ion-nowrap" size="3"> -->

            <div class="quantity ion-nowrap ion-text-right" slot="end">
              
              <ion-button class="decrement" #decrement (click)="item.intQuantity = item.intQuantity-1"><ion-icon name="remove-circle-outline"></ion-icon></ion-button>
              <ion-input class="qtyCounter" #qty type="number" [ngModel]="item.intQuantity"></ion-input>
              <ion-button class="increment" #increment (click)="item.intQuantity = item.intQuantity+1"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
            </div>
          <!-- </ion-col> -->
          
        <!-- </ion-row> -->
      </ion-item>
      <!-- </ion-grid> -->
    </div>
  </ion-list>
<!-- item addition button -->
<!-- ngIf for scanner on cordova env -->

  <ion-fab *ngIf="isCordova" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="scanBarcode()">
        <ion-icon name="barcode"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="manualAdd()">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!-- ngIf for photo on not cordova env -->
  <ion-fab *ngIf="!isCordova" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="addPhotoToGallery()">
        <ion-icon name="barcode"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="manualAdd()">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>
