<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <h1>Create Account</h1>
  </div>
  <form id="signupForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-list required="true">
      <!-- Take Username, FirstName, LastName, Address, Email, Date Of Birth, Password, Gender -->
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type='email' formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type='password' formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">First Name</ion-label>
        <ion-input type='text' formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Last Name</ion-label>
        <ion-input type='text' formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Address</ion-label>
        <ion-input type='text' formControlName="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Date Of Birth</ion-label>
        <ion-input type='date' formControlName="dob"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Gender</ion-label>
        <ion-input type='text' formControlName="gender"></ion-input>
      </ion-item>

      <ion-item>
        Already have an account?:<a routerLink='/login'>Sign In</a>
      </ion-item>

      <ion-button type="submit" expand="block" shape="round" color="success">Create Account</ion-button>
    </ion-list>
  </form>
  <ion-button href="/tabs/home" >Home</ion-button>
</ion-content>
