<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
      <ion-title>
        Recipes
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-searchbar id="recipeSearchbar" class="searchbar" placeholder="Search a recipe" debounce="1000" showCancelButton="focus" [formControl]="searchField" animated></ion-searchbar>
    <ion-list *ngIf="recipes">
      <!-- <h1>{{recipes.length}}</h1> -->
      <ion-item *ngFor="let recipe of recipes">
        <ion-card button="true">
          <img src="{{recipe.jsonRecipeData.image}}">
          <ion-card-header>
            <ion-card-title>{{recipe.strTitle}}</ion-card-title>
          </ion-card-header>
        </ion-card>
        <!-- <ion-label *ngIf="recipe.strTitle" class="ion-text-capitalize">{{recipe.strTitle}}</ion-label>
        <ion-label *ngIf="recipe.title" class="ion-text-capitalize">{{recipe.title}}</ion-label> -->
      </ion-item>
    </ion-list>

    
  </ion-content>
  