<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
      <ion-title>
        Recipes
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-searchbar id="recipeSearchbar" class="searchbar" placeholder="Search a recipe" debounce="1000" showCancelButton="focus" [formControl]="searchField" animated></ion-searchbar>
    <ion-list *ngIf="recipes">
      <!-- <h1>{{recipes.length}}</h1> -->
      <ion-item *ngFor="let recipe of recipes; let i=index" [attr.data-index]="i">
        <ion-card #recipeCard button="true" (click)="expandRecipe($event, recipe, i)">
          <img src="{{recipe.jsonRecipeData.image}}">
          <ion-card-header [ngSwitch]="show.includes(i)">
            <ion-card-title *ngSwitchCase="true"><a href="{{recipe.jsonRecipeData.sourceUrl}}" target="_blank"> {{recipe.strTitle}}</a></ion-card-title>
            <ion-card-title *ngSwitchCase="false">{{recipe.strTitle}}</ion-card-title>
            <!-- <ion-card-subtitle>{{recipe.jsonRecipeData.image}}</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content *ngIf="show.includes(i)">
            <ion-list>
              <ion-item *ngFor="let ingredient of recipe.jsonRecipeData.extendedIngredients">
                <ion-label class="ion-text-capitalize">{{ingredient.name}}</ion-label>
              </ion-item>
            </ion-list>
            <!-- <div [innerHtml]="recipe.jsonRecipeData.instructions"></div> -->
          </ion-card-content>
        </ion-card>
        
        
        <!-- <ion-label *ngIf="recipe.strTitle" class="ion-text-capitalize">{{recipe.strTitle}}</ion-label>
        <ion-label *ngIf="recipe.title" class="ion-text-capitalize">{{recipe.title}}</ion-label> -->
      </ion-item>
    </ion-list>

    
  </ion-content>
  