.popover-backdrop {
    display:none;
  }
  .quantity>ion-input{
    width: 2em;
    text-align: center;
  }
.quantity{
  display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; 
    flex-direction: row;
    text-align: end;
}