<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>
      Grocery List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Grocery List</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar id="itemSearchbar" class="searchbar" placeholder="Search an item to add" debounce="1000" showCancelButton="focus" [formControl]="searchField" animated></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-label class="ion-text-capitalize">{{item.strDescription}}</ion-label>
      <div class="quantity ion-nowrap ion-text-right">
              
        <ion-button class="decrement" #decrement (click)="item.intQuantity = item.intQuantity-1"><ion-icon name="remove-circle-outline"></ion-icon></ion-button>
        <ion-input class="qtyCounter" #qty type="number" [ngModel]="item.intQuantity"></ion-input>
        <ion-button class="increment" #increment (click)="item.intQuantity = item.intQuantity+1"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
      </div>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="save" (click)="close()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
</ion-content>
