ion-card{
	text-align: center;
	align-content: center;
	align-self: center;
	img{
	  text-align: center;
	  align-content: center;
	  align-self: center;
	  //max-width: 710px;
	  //max-height: 710px;
	}
}

.logo {
	max-width: 100px;
	max-height: 100px;
}

// .dark-text {
// 	color: black;
// }