<ion-header>
  <ion-toolbar>
    <ion-title>
      Pantry Prism
    </ion-title>
    <ion-buttons *ngIf="loggedIn">
      <ion-button color="danger" (click)="logout()">
        LOGOUT
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loggedIn" class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Register</ion-button>

        <span class="divider line one-line"></span>

        <div class="already">Already a user?</div>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content *ngIf="loggedIn">
  <ion-grid>
    <ion-row>
      <div>

        <ion-col>
          <ion-card [routerLink]="['/tabs/tab2']">
            <ion-card-header>
              <ion-card-title>Inventory</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              The list of everything in your pantry.
            </ion-card-content>
          </ion-card>
          <ion-card [routerLink]="['/tabs/tab1']">
            <ion-card-header>
              <ion-card-title>Recipes</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Cook the food from your pantry
            </ion-card-content>
          </ion-card>
          <ion-card [routerLink]="['/tabs/tab3']">
            <ion-card-header>
              <ion-card-title>Grocery</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Restock your pantry
            </ion-card-content>
          </ion-card>
          
        </ion-col>
      </div>
    </ion-row>
  </ion-grid>


</ion-content>
