<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>
      Pantry Prism
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col width="50" style=text-align:center>
        <ion-button  [routerLink]="['/registration']" size="default" color="primary" margin-vertical="">Register</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="or">Or</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="already">Already a user?</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width="50" style=text-align:center>
        <ion-button [routerLink]="['/login']" size="default" color="secondary">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
